@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

//font
$family: "Roboto Mono", monospace;

//colors
$dark: #1c253b;
$light: #ffffff;
$lightBlue: #364469;
$blue: #5589fa;
$gray: #d7d9d8;

//rwd
$mobile: 375px;
$desktop: 1024px;
